body{
    margin: 50px;
    background-image: url(https://media.istockphoto.com/photos/background-image-of-simple-cool-and-shining-picture-id609826940);
    background-position: center center;
    background-repeat: repeat;

}
h1{
    font-size: 100px;
    font-family: monospace;

}
h2{
    font-size: 75px;
    font-family: monospace;
}
h3{
    font-size: 50px;
    font-family: monospace;
}
p{
    font-size: 30px;
    font-family: monospace;
}
h4{
    font-size: 40px;
    font-family: monospace;
    text-align: center;
}
.boxed {
   background-image:url(om.png);
   background-position: left;
   background-repeat: no-repeat;
    border: 10px solid red ;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    height: 500px
  }
  .boxed:hover{
      border: 10px solid black;
      transform: scale(1.15)
  }
  .p1{
   font-size: 25px; 
   font-family: monospace;  
  }
